<div class="titre" *ngIf="!showFormPass">
  Historique des températures et humidités de la Serre
</div>
<div *ngIf="!showFormPass" class=" shadow-none   bg-light rounded" id="haut">
  <!-- <div class="header">

  </div> -->
  <!-- /recherche/ -->
  <span class="d-flex justify-content-around  h-25">
    <input type="date" id="form1" class="form-control " (change)="search($event)"
        style="border: 2px solid; width: 17%; margin:auto 0px; max-height:50px" />
  <!-- <label class="form-label" for="form1"></label> -->
  <img src="https://media.discordapp.net/attachments/1033044458092118168/1087430544268210276/icons8-sun-50.png" height="65" class="rounded-circle pe-auto" (click)="onclick()" alt="" >
  </span>


  <div class="input-group mb-2 mt-2 d-flex justify-content-between">

      <!-- <div class="form-outline">
        &nbsp;
        <input type="date" id="form1" class="form-control" (change)="search($event)"
          style="border: 2px solid ; height: 50%;" />
        <label class="form-label" for="form1"></label>
      </div> -->
    
    <!-- <button class="bas" routerLink="/tens-hum" (click)="onclick()" style="margin:0 3px"> -->
      <!-- <div class="image"> -->
        <!-- <img src="assets/sun.png" alt="" style="height: 80px;"> -->
        <!-- <img src="assets/humSol.png" class="rounded-circle pe-auto" (click)="onclick()" alt="" style="height: 70px;"> -->
      <!-- </div> -->
    <!-- </button> -->

  </div>
  <!-- <div class="border border-danger w-75" style="margin:0 auto"> -->
    <!--  <div class="font"></div> -->
    <div class="d-flex justify-content-center  w-75 mb-4" style="margin:0 auto">
      <table class="table table-bordered " style="border: 2px solid ;">

        <thead class="bag">

          <tr>
            <th scope="col"><p> Date<img src="assets/calen.web" alt="" ></p> </th> 
            <!-- <th scope="col">Heure</th> -->
            <th scope="col"><i class="bi bi-thermometer-half"></i><p> Temperature<img src="assets/tour.png" alt=""
                style="max-height: 15px;background: #000; "></p> </th>
            <th scope="col"> <i class="bi bi-droplet-half"></i><p>Humidite <img src="assets/one.png" alt=""
                style="max-height: 15px;background: #000; "></p> </th>

          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor="let i of histo| filter:searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">
            <!-- <th rowspan="3" scope="row" class="text-center">Temperature en °C</th> -->
            <td><p>{{i.date}}</p></td>
            <td><p>{{i.temperature}}</p></td>
            <td><p>{{i.humidite}}</p></td>

          </tr>
        </tbody>
      </table>
      <tr class="" *ngFor="let i of histo| filter: searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">
        <!-- <div class=""> -->
          <div class="pagination fixed-bottom justify-content-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls> 
          </div>
      </tr>
        <!-- </div> -->
    </div>
    
  <!-- </div> -->
  <!-- &nbsp; -->
  <!-- <div class="ff">

  </div> -->
  <!-- bas -->
  <!-- <button class="bas" routerLink="/tens-hum" (click)="onclick()" style="margin:0 auto">
    <div class="image">
      <img src="assets/sun.png" alt="" style="height: 80px;">
      <img src="assets/humSol.png" alt="" style="height: 80px;">
    </div>
  </button> -->
</div>
  
  
  
  
  <!-- /Historique de  l'ensoleillement et humidités de sol de la Serre/// -->
  <div class="titre" *ngIf="showFormPass">
    Historique de l'ensoleillement et l'humidités du sol
  </div>

  <div *ngIf="showFormPass" class=" shadow-none   bg-light rounded" id="haut">
    <!-- <div class="header">
  
    </div> -->
    <!-- /recherche/ -->
    <span class="d-flex justify-content-around  h-25">
      <input type="date" id="form1" class="form-control " (change)="search($event)"
          style="border: 2px solid; width: 17%; margin:auto 0px; max-height:50px" />
    <!-- <label class="form-label" for="form1"></label> -->
    <img src="assets/humSol.png" class="rounded-circle pe-auto" (click)="on()" alt="" >
    </span>
  
  
    <div class="input-group mb-2 mt-2 d-flex justify-content-between">
  
        <!-- <div class="form-outline">
          &nbsp;
          <input type="date" id="form1" class="form-control" (change)="search($event)"
            style="border: 2px solid ; height: 50%;" />
          <label class="form-label" for="form1"></label>
        </div> -->
      
      <!-- <button class="bas" routerLink="/tens-hum" (click)="onclick()" style="margin:0 3px"> -->
        <!-- <div class="image"> -->
          <!-- <img src="assets/sun.png" alt="" style="height: 80px;"> -->
          <!-- <img src="assets/humSol.png" class="rounded-circle pe-auto" (click)="onclick()" alt="" style="height: 70px;"> -->
        <!-- </div> -->
      <!-- </button> -->
  
    </div>
    <!-- <div class="border border-danger w-75" style="margin:0 auto"> -->
      <!--  <div class="font"></div> -->
      <div class="d-flex justify-content-center  w-75 mb-1" style="margin:0 auto">
        <table class="table table-bordered " style="border: 2px solid ;">
  
          <thead class="bag">
  
            <tr>
              <th scope="col"><p> Date<img src="assets/calen.web" alt="" ></p> </th> 
              <!-- <th scope="col">Heure</th> -->
              <th scope="col"><i class="bi bi-thermometer-half"></i><p> Temperature<img src="assets/tour.png" alt=""
                  style="max-height: 15px;background: #000; "></p> </th>
              <th scope="col"> <i class="bi bi-droplet-half"></i><p>Humidite <img src="assets/one.png" alt=""
                  style="max-height: 15px;background: #000; "></p> </th>
  
            </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let i of histo| filter:searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">
              <!-- <th rowspan="3" scope="row" class="text-center">Temperature en °C</th> -->
              <td><p>{{i.date}}</p></td>
              <td><p>{{i.temperature}}</p></td>
              <td><p>{{i.humidite}}</p></td>
  
            </tr>
          </tbody>
        </table>
        <tr class="" *ngFor="let i of histo| filter: searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">
          <!-- <div class=""> -->
            <div class="pagination fixed-bottom justify-content-center">
              <pagination-controls (pageChange)="p = $event"></pagination-controls> 
            </div>
        </tr>
          <!-- </div> -->
      </div>
      
    <!-- </div> -->
    <!-- &nbsp; -->
    <!-- <div class="ff">
  
    </div> -->
    <!-- bas -->
    <!-- <button class="bas" routerLink="/tens-hum" (click)="onclick()" style="margin:0 auto">
      <div class="image">
        <img src="assets/sun.png" alt="" style="height: 80px;">
        <img src="assets/humSol.png" alt="" style="height: 80px;">
      </div>
    </button> -->
  </div>



  
  
  
